body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}
.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
h1 {
  text-align: center;
}
.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: slateblue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border-style: none;
  transition: transform 250ms, background-color 1s, height 3s, opacity 7s;
  /* Default transition timing function:
  transition-timing-function: ease;  */
  /* Josh's exagerrated ease-out */
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:hover {
  /* Cheap to animate */
  transform: translateY(50px);
  opacity: 0;
  /* Expensive to animate: */
  background-color: blueviolet; 
  height: 150px;
}