body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
h1 {
  text-align: center;
}
.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: slateblue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border-style: none;
  /* Quick enter animation */
  transition: transform 1000ms, background-color 800ms;
  /* Allow GPU to handle this element all the time */
  will-change: transform height;
  /* Default transition timing function:
  transition-timing-function: ease;  */
  /* Josh's exagerrated ease-out */
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn:hover {
  /* Exit custom transition */
  transition: transform 100ms, background-color 800ms;
  /* Cheap to animate (HW acceleration) */
  transform: translateY(-10px);
  /* opacity: 0; */
  /* Expensive to animate: */
  background-color: blueviolet;
  /* height: 150px; */
}

.box {
  border-style: solid;
  border-color: #2b2b2b;
  border-width: 1px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32rem;
  overflow: hidden;
}

.trigger {
  color: white;
  margin: 20px;
  background-color: rgb(96, 64, 209);
  font-weight: 600;
  font-size: 1.45rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-style: none;
  border-radius: 8px;
  will-change: transform;
  transition: transform 800ms ease-out;
  text-transform: none;
}

.trigger:hover {
  transform: scale(1.05);
  transition: transform 250ms ease-in;
}

.trigger:active {
  transform: scale(1);
  transition: transform 50ms ease-out;
}

.flyer-box {
  margin: 0px;
  padding: 0px;
  height: 30rem;
}

.flyer {
  background-color: rgb(78, 22, 110);
  color: white;
  font-size: 1.5rem;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  transform: translateY(-80px);
  will-change: transform;
  transition: transform 500ms;
  transition-timing-function: cubic-bezier(0.33, 0.95, 0.34, 0.9);
}

.flyer-move {
  transform: translateY(15rem);
  transition-timing-function: cubic-bezier(0.54, 0.43, 0.11, 0.88);
}
